<div class="main-content w-100 h-100 p-0 m-0">
  <nav class="navbar navbar-expand w-100 navbar-dark bg-primary shadow-sm">
    <div class="container-fluid w-100 h-100 p-0 m-0">
      <a class="navbar-brand" routerLink="/">Fictitious Pizza</a>

      <div class="navbar-collapse">
        <ul class="navbar-nav flex-row">
          <li class="nav-item px-2">
            <a class="nav-link d-flex align-items-center" 
               routerLink="/dashboard" 
               routerLinkActive="active" 
               [routerLinkActiveOptions]="{exact: true}">
              <i class="bi bi-speedometer2 me-1"></i> Dashboard
            </a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link d-flex align-items-center" 
               routerLink="/analytics" 
               routerLinkActive="active">
              <i class="bi bi-graph-up me-1"></i> Sales Analytics
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>